body {background-color: rgb(3, 40, 77);}
h1{color:white}

.water{
    position:fixed;
    font-size: 2rem;
    animation: fall 5s linear forwards;
}

@keyframes fall {
    to{
        transform: translateY(200vh);
    }
}

